.productHighlightWrapper--collection {
  position: relative;
  /* top: 28px; */
  left: 5px;
  width: 200px;
}

.productHighlightText {  
  background: #FEDDE8;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  color: #ff7f00;
  padding: 5px;
}  
 