.wishlistIconContainer--list-buy {
	display: flex;
	justify-content: flex-end;
	z-index: 1;
	height: 0;
}

.wishlistIcon--list-buy {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='#FFCD00' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9954 2.57926L12.815 1.81797C13.9854 0.892266 15.4516 0.33912 17.0436 0.333358C20.8805 0.319473 23.995 3.49046 24 7.41595C24.0095 14.9114 13.7868 21.9269 12.0184 21.9333C10.25 21.9397 0.00952133 14.9982 5.98743e-06 7.50281C-0.00497737 3.57731 3.10142 0.383815 6.93835 0.369929C8.53304 0.364158 10.0029 0.908533 11.1767 1.82687L11.9954 2.57926ZM13.3403 18.6974C14.5214 17.9382 15.8232 16.9063 17.0051 15.7601C19.8866 12.9657 21.6032 9.98137 21.6 7.419C21.5967 4.80905 19.5491 2.72431 17.0523 2.73334C15.7935 2.7379 14.6186 3.27166 13.7625 4.20327L12.0048 6.11581L10.2369 4.21263C9.37988 3.28994 8.20496 2.76536 6.94703 2.76991C4.44575 2.77897 2.39669 4.88548 2.4 7.49976C2.40325 10.0602 4.12553 13.0288 7.01182 15.8001C8.19583 16.9369 9.49937 17.9587 10.6815 18.7088C11.1854 19.0284 11.6372 19.2786 11.9862 19.4369C12.385 19.2748 12.8367 19.0211 13.3403 18.6974Z' fill='%23F71963'/%3E%3C/svg%3E%0A");
	width: 32px;
	height: 32px;
	position: absolute;
	background-repeat: no-repeat;
}

.wishlistIconContainer--wish-heart {
	display: flex;
	justify-content: flex-start;
	z-index: 1;
	position: absolute;
}

.wishlistIconContainer--wish-heart :global(.vtex-button) {
	width: 44px;
}

.wishlistIconContainer--wish-heart :global(.vtex-button__label),
.wishlistIconContainer--pdp-wish-heart :global(.vtex-button__label) {
	padding: 0 !important;
}

.wishlistIcon--pdp-wish-heart.outline {
	background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.0865 1.85687C23.8107 0.618801 22.0481 3.05176e-05 19.7979 3.05176e-05C19.1751 3.05176e-05 18.5396 0.107337 17.8919 0.321846C17.2439 0.536512 16.641 0.826125 16.0841 1.19048C15.5264 1.55472 15.0471 1.89678 14.645 2.21613C14.2434 2.53559 13.8616 2.87508 13.5 3.23434C13.1383 2.87508 12.7566 2.53559 12.355 2.21613C11.953 1.89678 11.4735 1.55493 10.9159 1.19048C10.3584 0.825968 9.75573 0.536565 9.10789 0.321846C8.4601 0.10739 7.82466 3.05176e-05 7.20194 3.05176e-05C4.95185 3.05176e-05 3.18913 0.618959 1.9135 1.85687C0.637868 3.09467 0 4.81158 0 7.00775C0 7.67661 0.118212 8.36566 0.35416 9.07406C0.590108 9.78283 0.858987 10.3869 1.16027 10.8859C1.4615 11.3849 1.8031 11.8715 2.1848 12.3457C2.56651 12.8199 2.84547 13.1467 3.02104 13.3264C3.19678 13.5061 3.33494 13.636 3.43537 13.7159L12.837 22.7302C13.0179 22.9099 13.2389 23 13.5 23C13.7611 23 13.9822 22.9099 14.163 22.7302L23.5497 13.7455C25.85 11.4599 27 9.21378 27 7.00754C27.0001 4.81121 26.3622 3.09446 25.0865 1.85687ZM22.2388 12.3382L13.5 20.7086L4.7463 12.3231C2.8679 10.4568 1.92885 8.68464 1.92885 7.00754C1.92885 6.19907 2.03683 5.48521 2.25267 4.86644C2.46867 4.24757 2.74488 3.75577 3.08136 3.39142C3.4179 3.02696 3.82715 2.73022 4.30929 2.50045C4.79169 2.27089 5.26374 2.11611 5.72572 2.03629C6.18769 1.95657 6.6798 1.91666 7.2022 1.91666C7.72444 1.91666 8.28705 2.04379 8.88972 2.29842C9.49228 2.55295 10.0472 2.8724 10.5544 3.25668C11.0618 3.64122 11.4962 4.00054 11.8579 4.33484C12.2195 4.66945 12.5207 4.97621 12.7618 5.25576C12.9425 5.47546 13.1888 5.58528 13.5001 5.58528C13.8114 5.58528 14.0575 5.47546 14.2384 5.25576C14.4794 4.97621 14.7809 4.66929 15.1424 4.33484C15.504 4.00054 15.9385 3.64138 16.4456 3.25668C16.9529 2.8724 17.5079 2.55295 18.1108 2.29842C18.7132 2.04384 19.276 1.91666 19.7983 1.91666C20.3206 1.91666 20.8125 1.95657 21.2747 2.03629C21.7368 2.11606 22.2089 2.27089 22.6911 2.50045C23.1733 2.73017 23.5826 3.02712 23.919 3.39142C24.2555 3.75577 24.5318 4.24757 24.7478 4.86644C24.9634 5.48521 25.0714 6.19907 25.0714 7.00754C25.0713 8.68464 24.1273 10.4617 22.2388 12.3382Z' fill='%23F71963'/%3E%3C/svg%3E%0A");
	width: 27px;
	background-repeat: no-repeat;
}

.wishlistIcon--pdp-wish-heart.fill {
	width: 27px;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.0865 1.85685C23.8107 0.618775 22.0481 0 19.7978 0C19.1751 0 18.5396 0.107307 17.8918 0.321818C17.2438 0.536485 16.641 0.8261 16.084 1.19045C15.5263 1.5547 15.047 1.89676 14.645 2.21612C14.2434 2.53557 13.8615 2.87507 13.5 3.23433C13.1383 2.87507 12.7566 2.53557 12.3549 2.21612C11.953 1.89676 11.4735 1.55491 10.9159 1.19045C10.3584 0.825943 9.75571 0.536538 9.10787 0.321818C8.46008 0.10736 7.82464 0 7.20192 0C4.95184 0 3.18912 0.618932 1.91349 1.85685C0.637866 3.09466 0 4.81158 0 7.00777C0 7.67663 0.118211 8.36558 0.354159 9.07409C0.590107 9.78287 0.858985 10.3869 1.16027 10.8859C1.46149 11.3849 1.80309 11.8717 2.1848 12.3459C2.56651 12.8202 2.84546 13.1468 3.02104 13.3266C3.19677 13.5061 3.33493 13.636 3.43536 13.7157L12.837 22.7302C13.0179 22.9101 13.2388 23 13.4999 23C13.7611 23 13.9822 22.9101 14.1629 22.7306L23.5497 13.746C25.8499 11.4601 26.9999 9.21397 26.9999 7.00777C27 4.81158 26.362 3.09466 25.0865 1.85685Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
}

.wishlistIcon--wish-heart.outline {
	background-image: url("data:image/svg+xml,%3Csvg width='34' height='33' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.375' width='33' height='33' rx='16' fill='%23FDB31B'/%3E%3Cpath d='M26.8159 9.53391C25.7763 8.51116 24.3401 8 22.5066 8C21.9992 8 21.4813 8.08864 20.9535 8.26585C20.4255 8.44318 19.9344 8.68243 19.4805 8.98341C19.0261 9.28431 18.6356 9.56688 18.308 9.83069C17.9807 10.0946 17.6696 10.375 17.375 10.6718C17.0803 10.375 16.7693 10.0946 16.442 9.83069C16.1145 9.56688 15.7238 9.28448 15.2695 8.98341C14.8152 8.6823 14.3241 8.44322 13.7962 8.26585C13.2684 8.08869 12.7506 8 12.2432 8C10.4098 8 8.97355 8.51129 7.93415 9.53391C6.89474 10.5564 6.375 11.9748 6.375 13.789C6.375 14.3415 6.47132 14.9107 6.66357 15.4959C6.85583 16.0814 7.07491 16.5804 7.3204 16.9927C7.56585 17.4049 7.84419 17.8069 8.15521 18.1986C8.46623 18.5903 8.69353 18.8603 8.83659 19.0087C8.97978 19.1572 9.09236 19.2645 9.17419 19.3305L16.8348 26.7771C16.9822 26.9256 17.1622 27 17.375 27C17.5877 27 17.7679 26.9256 17.9152 26.7771L25.5636 19.355C27.4379 17.4668 28.375 15.6114 28.375 13.7888C28.375 11.9745 27.8553 10.5563 26.8159 9.53391ZM24.4955 18.1924L17.375 25.107L10.2424 18.1799C8.71181 16.6382 7.94666 15.1742 7.94666 13.7888C7.94666 13.1209 8.03464 12.5312 8.21051 12.0201C8.38651 11.5088 8.61157 11.1026 8.88574 10.8016C9.15995 10.5005 9.49342 10.2554 9.88627 10.0656C10.2793 9.87592 10.664 9.74807 11.0404 9.68213C11.4168 9.61627 11.8178 9.5833 12.2435 9.5833C12.669 9.5833 13.1274 9.68832 13.6185 9.89867C14.1095 10.1089 14.5616 10.3728 14.9749 10.6903C15.3883 11.0079 15.7423 11.3048 16.037 11.5809C16.3316 11.8573 16.5771 12.1108 16.7735 12.3417C16.9208 12.5232 17.1214 12.6139 17.3751 12.6139C17.6288 12.6139 17.8292 12.5232 17.9766 12.3417C18.1731 12.1108 18.4187 11.8572 18.7133 11.5809C19.0079 11.3048 19.3619 11.0081 19.7751 10.6903C20.1885 10.3728 20.6407 10.1089 21.1319 9.89867C21.6228 9.68837 22.0814 9.5833 22.5069 9.5833C22.9325 9.5833 23.3333 9.61627 23.7099 9.68213C24.0865 9.74803 24.4711 9.87592 24.8641 10.0656C25.257 10.2553 25.5904 10.5006 25.8646 10.8016C26.1387 11.1026 26.3639 11.5088 26.5399 12.0201C26.7156 12.5312 26.8036 13.1209 26.8036 13.7888C26.8035 15.1742 26.0343 16.6423 24.4955 18.1924Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
	width: 34px;
	height: 33px;
	background-repeat: no-repeat;
}

.wishlistIcon--wish-heart.fill {
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='33' height='33' rx='16' fill='%23FDB31B'/%3E%3Cpath d='M26.4409 8.53392C25.4013 7.51116 23.9651 7 22.1316 7C21.6242 7 21.1063 7.08865 20.5785 7.26585C20.0505 7.44318 19.5594 7.68243 19.1055 7.98342C18.6511 8.28432 18.2606 8.56689 17.933 8.8307C17.6057 9.0946 17.2946 9.37505 17 9.67184C16.7053 9.37505 16.3943 9.0946 16.067 8.8307C15.7395 8.56689 15.3488 8.28449 14.8945 7.98342C14.4402 7.6823 13.9491 7.44323 13.4212 7.26585C12.8934 7.08869 12.3756 7 11.8682 7C10.0348 7 8.59855 7.51129 7.55915 8.53392C6.51974 9.55646 6 10.9748 6 12.789C6 13.3416 6.09632 13.9107 6.28857 14.496C6.48083 15.0815 6.69991 15.5805 6.9454 15.9927C7.19085 16.4049 7.46919 16.8071 7.78021 17.1988C8.09123 17.5906 8.31853 17.8604 8.46159 18.009C8.60478 18.1572 8.71736 18.2645 8.79919 18.3304L16.4598 25.7771C16.6072 25.9257 16.7872 26 17 26C17.2127 26 17.3929 25.9257 17.5402 25.7774L25.1886 18.3554C27.0629 16.4671 28 14.6115 28 12.789C28 10.9748 27.4802 9.55646 26.4409 8.53392Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
}

@media only screen and (max-width: 640px) {
	.wishlistIcon--wish-heart.outline {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.375' width='33' height='33' rx='16' fill='%23FDB31B'/%3E%3Cpath d='M26.8159 9.53391C25.7763 8.51116 24.3401 8 22.5066 8C21.9992 8 21.4813 8.08864 20.9535 8.26585C20.4255 8.44318 19.9344 8.68243 19.4805 8.98341C19.0261 9.28431 18.6356 9.56688 18.308 9.83069C17.9807 10.0946 17.6696 10.375 17.375 10.6718C17.0803 10.375 16.7693 10.0946 16.442 9.83069C16.1145 9.56688 15.7238 9.28448 15.2695 8.98341C14.8152 8.6823 14.3241 8.44322 13.7962 8.26585C13.2684 8.08869 12.7506 8 12.2432 8C10.4098 8 8.97355 8.51129 7.93415 9.53391C6.89474 10.5564 6.375 11.9748 6.375 13.789C6.375 14.3415 6.47132 14.9107 6.66357 15.4959C6.85583 16.0814 7.07491 16.5804 7.3204 16.9927C7.56585 17.4049 7.84419 17.8069 8.15521 18.1986C8.46623 18.5903 8.69353 18.8603 8.83659 19.0087C8.97978 19.1572 9.09236 19.2645 9.17419 19.3305L16.8348 26.7771C16.9822 26.9256 17.1622 27 17.375 27C17.5877 27 17.7679 26.9256 17.9152 26.7771L25.5636 19.355C27.4379 17.4668 28.375 15.6114 28.375 13.7888C28.375 11.9745 27.8553 10.5563 26.8159 9.53391ZM24.4955 18.1924L17.375 25.107L10.2424 18.1799C8.71181 16.6382 7.94666 15.1742 7.94666 13.7888C7.94666 13.1209 8.03464 12.5312 8.21051 12.0201C8.38651 11.5088 8.61157 11.1026 8.88574 10.8016C9.15995 10.5005 9.49342 10.2554 9.88627 10.0656C10.2793 9.87592 10.664 9.74807 11.0404 9.68213C11.4168 9.61627 11.8178 9.5833 12.2435 9.5833C12.669 9.5833 13.1274 9.68832 13.6185 9.89867C14.1095 10.1089 14.5616 10.3728 14.9749 10.6903C15.3883 11.0079 15.7423 11.3048 16.037 11.5809C16.3316 11.8573 16.5771 12.1108 16.7735 12.3417C16.9208 12.5232 17.1214 12.6139 17.3751 12.6139C17.6288 12.6139 17.8292 12.5232 17.9766 12.3417C18.1731 12.1108 18.4187 11.8572 18.7133 11.5809C19.0079 11.3048 19.3619 11.0081 19.7751 10.6903C20.1885 10.3728 20.6407 10.1089 21.1319 9.89867C21.6228 9.68837 22.0814 9.5833 22.5069 9.5833C22.9325 9.5833 23.3333 9.61627 23.7099 9.68213C24.0865 9.74803 24.4711 9.87592 24.8641 10.0656C25.257 10.2553 25.5904 10.5006 25.8646 10.8016C26.1387 11.1026 26.3639 11.5088 26.5399 12.0201C26.7156 12.5312 26.8036 13.1209 26.8036 13.7888C26.8035 15.1742 26.0343 16.6423 24.4955 18.1924Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
		width: 20px;
		height: 20px;
		position: absolute;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
	}

	.wishlistIcon--wish-heart.fill {
		background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20.3778' height='20.6842' rx='10.1889' fill='%23FDB31B'/%3E%3Cpath d='M16.2645 5.92035C15.6408 5.3067 14.7791 5 13.679 5C13.3745 5 13.0638 5.05319 12.7471 5.15951C12.4303 5.26591 12.1356 5.40946 11.8633 5.59005C11.5907 5.77059 11.3563 5.94013 11.1598 6.09842C10.9634 6.25676 10.7768 6.42503 10.6 6.6031C10.4232 6.42503 10.2366 6.25676 10.0402 6.09842C9.84371 5.94013 9.60929 5.77069 9.33668 5.59005C9.06413 5.40938 8.76947 5.26594 8.45274 5.15951C8.13605 5.05321 7.82539 5 7.52095 5C6.42091 5 5.55913 5.30678 4.93549 5.92035C4.31185 6.53388 4 7.38487 4 8.47342C4 8.80494 4.05779 9.14642 4.17314 9.49759C4.2885 9.8489 4.41995 10.1483 4.56724 10.3956C4.71451 10.643 4.88151 10.8843 5.06813 11.1193C5.25474 11.3543 5.39112 11.5162 5.47696 11.6054C5.56287 11.6943 5.63041 11.7587 5.67951 11.7982L10.2759 16.2663C10.3643 16.3554 10.4723 16.4 10.6 16.4C10.7276 16.4 10.8357 16.3554 10.9241 16.2665L15.5132 11.8132C16.6378 10.6802 17.2 9.56693 17.2 8.47342C17.2 7.38487 16.8881 6.53388 16.2645 5.92035Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
		width: 21px;
		height: 21px;
		position: absolute;
		left: 0;
		background-repeat: no-repeat;
	}

	.wishlistIcon--pdp-wish-heart.outline {
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7952 1.169C14.9919 0.389557 13.8821 0 12.4653 0C12.0732 0 11.6731 0.0675567 11.2652 0.202604C10.8572 0.33775 10.4777 0.52008 10.127 0.749463C9.77585 0.978779 9.47408 1.19413 9.22092 1.39518C8.96806 1.5963 8.72766 1.81003 8.50002 2.03621C8.27228 1.81003 8.03194 1.5963 7.77905 1.39518C7.52599 1.19413 7.22408 0.978911 6.873 0.749463C6.52199 0.519981 6.1425 0.337783 5.73459 0.202604C5.32673 0.0675897 4.92664 0 4.53455 0C3.11783 0 2.00797 0.389656 1.20479 1.169C0.40162 1.94828 0 3.02918 0 4.41182C0 4.83291 0.0744295 5.26671 0.222989 5.7127C0.371549 6.15891 0.540843 6.53919 0.730539 6.85337C0.920201 7.16751 1.13528 7.47386 1.37562 7.77241C1.61595 8.07094 1.79159 8.27668 1.90214 8.3898C2.01279 8.50292 2.09978 8.58471 2.16301 8.63503L8.08258 14.3102C8.19645 14.4233 8.33557 14.48 8.49998 14.48C8.66439 14.48 8.80362 14.4233 8.91742 14.3102L14.8276 8.65369C16.2759 7.21472 17 5.80066 17 4.41169C17 3.02895 16.5984 1.94815 15.7952 1.169ZM14.0022 7.76769L8.50002 13.0374L2.98841 7.75818C1.80571 6.5832 1.21446 5.46753 1.21446 4.41169C1.21446 3.9027 1.28245 3.45328 1.41835 3.06372C1.55435 2.6741 1.72826 2.36448 1.94012 2.1351C2.15201 1.90565 2.40969 1.71883 2.71325 1.57418C3.01699 1.42965 3.31421 1.33221 3.60508 1.28196C3.89595 1.23177 4.2058 1.20664 4.53472 1.20664C4.86354 1.20664 5.21777 1.28668 5.59723 1.44699C5.97662 1.60723 6.32604 1.80834 6.64539 2.05027C6.96481 2.29237 7.23834 2.51858 7.46611 2.72904C7.69375 2.9397 7.88341 3.13283 8.03523 3.30882C8.149 3.44714 8.30407 3.51628 8.50005 3.51628C8.69609 3.51628 8.851 3.44714 8.9649 3.30882C9.11668 3.13283 9.30648 2.9396 9.53412 2.72904C9.7618 2.51858 10.0354 2.29247 10.3546 2.05027C10.6741 1.80834 11.0235 1.60723 11.4031 1.44699C11.7824 1.28671 12.1367 1.20664 12.4656 1.20664C12.7944 1.20664 13.1042 1.23177 13.3952 1.28196C13.6862 1.33218 13.9834 1.42965 14.287 1.57418C14.5906 1.7188 14.8483 1.90575 15.0601 2.1351C15.272 2.36448 15.446 2.6741 15.582 3.06372C15.7177 3.45328 15.7857 3.9027 15.7857 4.41169C15.7856 5.46753 15.1913 6.58631 14.0022 7.76769Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
		width: 17px;
		height: 18px;
		background-repeat: no-repeat;
	}

	.wishlistIcon--pdp-wish-heart.fill {
		width: 17px;
		height: 18px;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7952 1.16913C14.9919 0.3896 13.8821 0 12.4653 0C12.0732 0 11.6731 0.0675641 11.2652 0.202626C10.8572 0.337788 10.4777 0.520138 10.127 0.749546C9.77585 0.978887 9.47408 1.19426 9.22092 1.39533C8.96806 1.59648 8.72766 1.81023 8.50002 2.03643C8.27228 1.81023 8.03194 1.59648 7.77905 1.39533C7.52599 1.19426 7.22408 0.979019 6.873 0.749546C6.52199 0.520039 6.1425 0.337821 5.73459 0.202626C5.32673 0.0675971 4.92664 0 4.53455 0C3.11783 0 2.00797 0.389699 1.20479 1.16913C0.40162 1.9485 0 3.02952 0 4.41231C0 4.83344 0.0744295 5.26723 0.222989 5.71333C0.371549 6.1596 0.540843 6.53992 0.730539 6.85413C0.920201 7.1683 1.13528 7.47482 1.37562 7.77338C1.61595 8.07197 1.79159 8.27763 1.90214 8.39086C2.01279 8.50387 2.09978 8.58566 2.16301 8.63586L8.08258 14.3116C8.19645 14.4249 8.33557 14.4815 8.49998 14.4815C8.66439 14.4815 8.80362 14.4249 8.91742 14.3119L14.8276 8.65488C16.2759 7.21566 17 5.8014 17 4.41231C17 3.02952 16.5983 1.9485 15.7952 1.16913Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
	}

	.wishlistIconContainer--pdp-wish-heart {
		margin-right: 4px;
	}

	.wishlistIconContainer--pdp-wish-heart :global(.vtex-button) {
		min-height: 18px;
	}

	.wishlistIcon {
		width: 21px;
		height: 21px;
		background-size: contain;
		position: absolute;
		top: 0;
	}
}

.wishlistIconContainer--wish-heart-v2 {
	position: absolute;
    right: -12rem;
    top: -8px;
}

.wishlistIconContainer :global(.vtex-button) :global(.vtex-button__label) {
	padding: 0 !important
}

.wishlistIconContainer--wish-heart-list {
	display: flex;
	justify-content: flex-end;
} 

.wishlistIconContainer--wishlist-pdp {
	display: flex;
	justify-content: flex-end;
}