.sliderLayoutContainer {
	justify-content: center;
}

.sliderLayoutContainer--carousel {
	background-color: #fff!important;
	min-height: auto!important;
	/* max-width: 1238px; */
	/* padding: 32px 0 16px; */
	/* margin: auto; */
}

.sliderArrows--carousel {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #fff !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 10px;
	margin: 0 5rem;
}

.paginationDotsContainer {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 96rem;
}

.slide--shelf {
	margin-left: 0.6rem;
	margin-right: 0.6rem;
	margin-bottom: 1.5rem;
	height: auto;
	max-width: 240px;
	min-height: 450px;
}

.slideChildrenContainer--shelf {
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	padding: 20px 12px 16px;
}

.slide--lastVisible,
.slide--firstVisible {
	border-left: none;
	border-right: none;
}

.sliderArrows--shelf {
	background: #ffffff;
	width: 32px;
	height: 32px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	padding: 10px;
}

.sliderLeftArrow--shelf,
.sliderRightArrow--shelf {
	position: absolute;
}

.sliderLeftArrow--carousel {
	left: -16px;
}

.sliderRightArrow--carousel {
	right: -16px;
}

.sliderRightArrow--shelf {
	margin-right: 16px;
}

.caretIcon--carousel {
	color: #FF3366;
}

.caretIcon--shelf {
	color: #FF3366;
	width: 12px;
	height: 12px;
}

/*wishlist*/
.slideChildrenContainer--shelf-wishlist-slider-main {
	border-right: 1px solid #f1efed;
}

/*image slider*/
.sliderTrackContainer--carousel {
	/* max-width: 1238px; */
	position: relative;
}

.imageElement--carousel-departament {
	max-width: 991px;
}

.slide--not-found-shelf {
	max-width: 250px;
}

.sliderLayoutContainer--not-found-shelf {
	padding: 0 10px !important;
}

.sliderArrows--not-found-shelf {
	background: #fff !important;
	box-shadow: 0px 0px 1px rgba(86, 115, 101, 0.15), 0px 2px 4px rgba(86, 115, 101, 0.15);
	border-radius: 20px;
	color: #ffcd00;
	width: 40px;
	height: 40px;
	position: absolute;
	margin: 0;
}

.caretIcon--not-found-shelf {
	width: 12px;
	height: 12px;
}

/*breackpoint of container*/
@media only screen and (max-width: 1285px) {
	.sliderLayoutContainer--carousel {
		max-width: 1160px;
	}
}

@media only screen and (max-width: 1232px) {
	.sliderLayoutContainer--carousel {
		max-width: 1084px;
	}
}

.sliderLayoutContainer--shelf {
	max-width: 1238px;
}

/* @media only screen and (max-width: 1149px) {
	.sliderLayoutContainer--carousel {
		max-width: 1000px;
	}
} */

/* @media only screen and (max-width: 1067px) {
	.sliderLayoutContainer--carousel {
		max-width: 920px;
	}
}
 */
/*breackpoint of container end*/

@media (max-width: 1024px) {
	.sliderLayoutContainer--carousel {
		padding: 10px 10px;
	}

	.caretIcon--deals {
		color: #ffcd00;
		height: 16px;
	}

	.sliderArrows--deals {
		margin: 0;
		padding: 0;
	}

	.sliderLayoutContainer--shelf {
		padding: 0 !important;
	}

	.slide--shelf {
		height: auto;
		padding: 0 3px;
	}
}

@media (max-width: 1440px) and (min-width: 1026px) {
	.slide--not-found-shelf {
		max-width: 250px;
	}

	.sliderLayoutContainer--not-found-shelf {
		padding: 0 10px !important;
	}
}

.sliderLayoutContainer--shelf-wishlist-slider-main:global(.vtex-flex-layout-0-x-flexRowContent--add-to-cart-btn-container-shelf) {
	padding-top: 10px;
}

.slideChildrenContainer--carousel-offers :global(.vtex-product-summary-2-x-priceContainer--shelfPrice) {
	display: flex;
	align-self: start;
}

.sliderLayoutContainer--shelf :global(.vtex-location-availability-0-x-pickUpLabel) {
	display: none;
}

:global(.vtex-product-summary-2-x-clearLink--listLayout) :global(.vtex-location-availability-0-x-pickUpLabel) {
	display: none;
}

:global(.vtex-product-summary-2-x-element--gridLayout) :global(.vtex-location-availability-0-x-pickUpLabel) {
	display: none;
}

/* .slide--carousel-offers  :global(.vtex-product-summary-2-x-element) {
	display: flex;
	justify-content: space-between;
} */

.slideChildrenContainer--carousel-offers {
	border: 1px solid transparent;
	padding: 0.75rem;
	margin: 5rem 0;
}

.slideChildrenContainer--carousel-offers:hover {
	border: 1px solid #f1efed;
	padding: 0.75rem;
	margin: 5rem 0;
}

.paginationDotsContainer--carousel {
	/* background: #fff; */
	width: max-content;
	display: flex;
	max-width: fit-content;
	padding: 5px 22px;
	margin: auto;
	border-radius: 15px;
	bottom: 8px;
	left: 0;
	right: 0;
}

.paginationDot--carousel {
	background: #fff;
	border: 1px solid #ccc;
	width: 11px;
	height: 11px;
}

.paginationDot--carousel--isActive {
	background: #FF3366;
}


/* Slider de categorias */
.sliderLayoutContainer--slider-category {
	height: 220px;
	max-width: 1170px !important;
	margin: auto;
}

.sliderRightArrow--slider-category,
.sliderLeftArrow--slider-category,
.sliderRightArrow--slider-brands,
.sliderLeftArrow--slider-brands {
	width: 32px;
	height: 32px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	border-radius: 50%;
	padding: 10px;
	background: #fff !important;
	position: absolute;
}

.caretIcon--slider-category, .caretIcon--slider-brands {
	color: #FF3366 !important;
}

.sliderRightArrow--slider-category, .sliderRightArrow--slider-brands {
	right: -29px;
}

.sliderLeftArrow--slider-category, .sliderLeftArrow--slider-brands{
	left: -25px;
}
/* FIM - Slider de categorias */

.sliderLayoutContainer--slider-brands {
	max-width: 1170px;
	margin: auto;
	height: 150px;
	margin-top: -38px;
	margin-bottom: 1rem;
}
