.flexRow--pdp-main-row {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5%;
}

.flexRowContent--pdp-main-row {
  margin: 16px auto;
}

.flexRowContent--description-info {
  display: grid;
  grid-template-columns: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5% 2rem;
}

.flexRow--breadcrumb-pdp-container {
  max-width: 1440px !important;
  padding: 1rem 1% 0;
  margin: 0 auto;
}

.flexRow--breadcrumb-pdp-container :global(.vtex-store-components-3-x-container) {
  margin: 0 !important;
}

.flexRowContent--description-info .stretchChildrenWidth {
  width: 100% !important;
}

.flexCol--product-right-col {
  padding: 20px 30px;
  /* border: 1px solid rgb(228, 228, 228); */
  /* box-shadow: rgb(0 0 0 / 5%) 0px 0px 10px; */
}

.flexRowContent--pdp-product-prices-row {
  display: flex;
  flex-direction: column-reverse;
}

.flexCol--pdp-list-price-col {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.flexRowContent--product-brand-row .stretchChildrenWidth {
  width: auto !important;
}

.flexColChild--pdp-list-price-col :global(.vtex-product-price-1-x-listPrice) {
  margin-right: 0.4rem;
  font-size: 14px;
  font-weight: 400;
  color: rgb(114, 114, 115);
}

.flexColChild--pdp-selling-price-col:global(.vtex-product-price-1-x-sellingPriceValue) {
  font-size: 28px;
  font-weight: 700;
  height: 32px;
  color: #FF3366 !important;
}

.flexColChild--col-division-infos-right-pdp :global(.vtex-button), .flexRowContent--personalShopperCustom :global(.vtex-button){
  max-width: 300px;
  color: rgb(255, 255, 255);
  border: 0px;
  padding: 4px 14px;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background: #FF3366;
  height: 50px;
  margin-top: 2rem;
  place-content: center;
}


.flexRowContent--as-subs .stretchChildrenWidth {
  display: block;
}

.flexRowContent--menu-link {
  padding: 0 5%;
}

.flexRowContent--main-header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #ffffff !important;
  box-shadow:none!important;
}
 
.flexRowContent--row-searchbar,
.flexRow--main-header {
  background-color: #ffffff;
}

.flexRow--main-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flexRowContent--tabs-header-container {
  max-width: 1440px;
  margin: 0 auto;
}

.flexRow--tabs-header-container {
  background-color: #FF3366;
}

.flexRowContent--menu-link {
  background-color: #ff3366;
}

.flexRowContent--menu-link {
  max-width: 1440px;
  margin: 0 auto;
}

.flexRowContent--main-header {
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #ffffff;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  max-width: 1440px;
  padding: 16px 0 0;
  margin: auto;
  background-color: #fff;
}

.flexRowContent--deals {
  padding: 16px 64px 32px;
  border-radius: 8px;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  width: auto;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--deals {
  border-radius: 4px;
  margin: 0 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexColChild--deals {
  display: flex;
  align-items: center;
}

.flexRow--home-shelf-1 {
  max-width: 1440px;
  padding: 0 5%;
  margin: auto;
}

.flexRow--banner-home {
  max-width: 1440px;
  padding: 48px 0 16px;
  margin: auto;
}

.flexRowContent--banner-home {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.flexRow--wholesale {
  height: 56px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/*header*/
.flexRow--icons-header {
  display: flex;
}

.flexRow--row-localization,
.flexRow--category-menu-header {
  background-color: #ffffff;
}

.flexRowContent--menu-link-top {
  align-items: center;
}

.flexRow--localization-row {
  justify-content: center;
  display: flex;
  align-items: center;
}

.flexRowContent--icons-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 390px;
}

.flexRowContent--icons-header .stretchChildrenWidth {
  width: auto !important;
}

.flexRowContent--promos,
.flexRowContent--container-footer2,
.flexRowContent--footer-3,
.flexRowContent--rowFour {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5%;
}

.flexRowContent--shelf-title {
  padding: 0 5%;
}

.flexRowContent--footer-3 {
  padding-bottom: 2.5rem;
}

.flexRow--rowFour {
  background: #FF3366;
}

.flexRowContent--rowFour,
.flexRowContent--advertising2 {
  display: grid;
  grid-template-columns: 100%;
}

.flexRowContent--rowFour .stretchChildrenWidth,
.flexRowContent--advertising2 .stretchChildrenWidth {
  width: 100% !important;
}

.flexRowContent--rowFour .stretchChildrenWidth:nth-child(2n) .flexCol--menuContainer .flexColChild--menuContainer {
  position: relative;
}

.flexCol--col4MegaMenu {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  height: 40px;
}

.flexColChild--col4MegaMenu,
:global(.vtex-menu-2-x-menuContainerNav--category-menu),
:global(.vtex-menu-2-x-menuContainer--category-menu),
.flexCol--triggerMegaMenu,
.flexColChild--triggerMegaMenu {
  height: 100% !important;
}

.flexColChild--triggerMegaMenu {
  display: flex;
  align-items: end;
}

.flexRowContent--advertising2 {
  padding: 15px 5% 35px;
  max-width: 1440px;
  margin: 0 auto;
}

.flexRowContent--flexRow--payment1 .stretchChildrenWidth,
.flexRowContent--row-socialMedia .stretchChildrenWidth,
.flexRowContent--flexRow--payment2 .stretchChildrenWidth,
.flexRowContent--logoSecurity-footer .stretchChildrenWidth {
  width: auto !important;
  align-items: center;
}

.flexRowContent--row-socialMedia,
.flexRowContent--logoSecurity-footer {
  justify-content: flex-end;
}

.flexRowContent--flexRow--payment1 :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--row-socialMedia :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--flexRow--payment2 :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--logoSecurity-footer :global(.vtex-store-components-3-x-imageElement) {
  margin-right: 20px;
}

.flexRowContent--promos .stretchChildrenWidth {
  padding: 10px;
  border-radius: 8px;
}

@media only screen and (min-width: 1000px) {
  .flexRow--flex-row-header :global(.vtex-store-components-3-x-container) {
    padding: 0;
    max-width: 100%;
  }
}

.flexRowContent--category-menu-header {
  max-width: 1238px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.flexCol--logo-desktop {
  margin-right: 18px;
}

.flexRowContent--top-bar-row-1 {
  align-items: center;
}

.flexRowContent--top-bar-row-1 .stretchChildrenWidth:first-child {
  width: 29% !important;
  padding-right: 12px;
}

.flexRowContent--top-bar-row-1 .stretchChildrenWidth {
  width: 12% !important;
}

.flexRowContent--top-bar-row-2 .stretchChildrenWidth {
  width: 16% !important;
}

.flexRow--localization-row::after {
  content: '';
  width: 1px;
  height: 36px;
  background-color: transparent;
  display: flex;
  margin: 0px 26px;
}

.flexRow--newsletter,
.flexRow--menu-row,
.flexRow--payment-methods,
.flexRow--credits {
  background: #142032;
  color: #ffffff !important;
}

.flexRow--payment-methods .stretchChildrenWidth:first-child {
  width: 70% !important;
}

.flexColChild--newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexRowContent--footer-menu {
  justify-content: baseline;
}

.flexRowContent--midias-footer .stretchChildrenWidth {
  max-width: 48px;
}

.flexRow--credits {
  padding: 12px 0;
  margin: 0 auto;
}

.flexRowContent--credits {
  max-width: 1440px;
  margin: 0 auto;
}

.flexRow--logo-footer {
  max-width: 1440px;
}

.flexRow--payments-flags {
  align-self: center;
  justify-content: flex-end;
}

.flexRowContent--credits {
  padding: 12px 0;
}

.flexRow--credits .stretchChildrenWidth:first-child {
  justify-content: left;
  align-items: center;
}

.flexRow--credits .stretchChildrenWidth:last-child {
  justify-content: flex-end;
  align-items: center;
}

.flexRowContent--breadcrumb-pdp-container :global(.vtex-breadcrumb-1-x-homeIcon) {
  display: block;
  width: 20px;
  height: 24px;
}

.flexRowContent--breadcrumb-pdp-container :global(.vtex-breadcrumb-1-x-homeLink)::after {
  content: '';
}

.flexRowContent--breadcrumb-pdp-container :global(.vtex-breadcrumb-1-x-homeLink) {
  padding: 0 0.5rem 0 0 !important;
}

.flexRowContent--breadcrumb-pdp-container :global(.vtex-breadcrumb-1-x-link),
.flexRowContent--breadcrumb-pdp-container :global(.vtex-breadcrumb-1-x-term) {
  padding: 0 0.5rem;
  color: #ff3366;
}

.flexRow--credits-acct {
  justify-content: flex-end !important;
  max-width: 60px;
}

.flexCol--title-banner {
  padding-left: 2rem;
}

.flexRowContent--searchTitleDesktop .stretchChildrenWidth {
  justify-content: initial;
}

.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
}

.flexCol--productSpecificationName {
  padding: 1rem;
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}

.flexRowContent--faq {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact :global(.vtex-input__label),
.flexRowContent--contact :global(.vtex-textarea__label) {
  font-size: 1rem;
  color: #ff7f00;
}

.flexRowContent--contact :global(.vtex-input),
.flexRowContent--contact :global(.vtex-textarea) {
  display: block;
  margin-bottom: 1rem;
}

/*search pages*/
.flexRow--corredor-products {
  padding-bottom: 18px;
}

/*wishlist*/
.flexRow--wishlist-shelf {
  padding: 2rem 0;
}

/* PdP */
.flexColChild--product-info-content .flexRow--buy-btn-container :global(.vtex-button) {
  max-width: 130px;
  margin-right: auto;
  white-space: nowrap;
}

.flexColChild--product-info-content .flexRow--buy-btn-container :global(.vtex-button):hover {
  background-color: #ff7f00;
}

.flexColChild--product-info-content :global(.vtex-button) {
  background-color: #ff7f00;
  color: white;
  font-weight: bold;
}

.flexCol--product-info-content {
  padding-left: 32px;
  max-width: 100%;
}

.flexCol--product-images-container {
  max-width: 504px;
}

.flexRowContent--pdp-wish-and-share-content {
  align-items: center;
  justify-content: space-evenly;
}

.flexRowContent--pdp-main-container {
  justify-content: space-between;
}

.flexRow--add-to-cart-btn-container-shelf :global(.vtex-button) {
  background: #142032;
  border: 1px solid #142032;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 24px 8px 20px;
  min-width: 100%;
}

.flexRow--add-to-cart-btn-container-shelf :global(.vtex-button):hover {
  color: #fff;
  font-weight: 700;
}

.flexColChild--product-info-content:last-child {
  padding: 15px 0 0;
}

.flexRow--quantity-and-buy-btn-container :global(.vtex-button__label),
.flexRow--add-to-cart-btn-container-shelf :global(.vtex-button__label) {
  padding: 0 !important;
}

.flexRow--quantity-and-buy-btn-container :global(.vtex-button) {
  white-space: nowrap;
  min-height: 48px;
}

.flexRow--quantity-and-buy-btn-container :global(.vtex-button):hover {
  background-color: #ff7f00;
}

.flexRowContent--product-payment-methods-and-shipping-container {
  align-items: center;
}

.flexRow--product-payment-methods-and-shipping-container {
  padding: 36px 0 10px 0;
}

.flexRowContent--container-developedby-desk {
  align-items: center;
  justify-content: flex-end;
}

.flexRow--not-found {
  padding: 108px 0 113px;
}

.flexColChild--not-found-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexCol--not-found-text {
  padding-right: 25px;
}

.flexCol--not-found-image {
  padding-left: 25px;
}

/*byggy search*/
.flexRowContent--search-byggy {
  align-items: flex-start;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.flexRowContent--search-byggy .stretchChildrenWidth {
  width: unset !important;
}

.flexRowContent--content-row-department,
.flexRowContent--did-you-mean-suggestions,
.flexRowContent--searchTitleDesktop {
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 5%;
}

.flexRowContent--searchbread-row-department {
  margin: 24px 0 32px;
}

.flexRow--searchTitleDesktop .stretchChildrenWidth::before {
  content: 'You searched for:';
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #36403b;
  display: table;
  width: auto !important;
  margin-right: 4px;
}

.flexRow--did-you-mean-suggestions {
  margin-bottom: 20px;
}

.flexRow--deals-not-found {
  /* margin: 32px 0; */
  background: #f2f2f2;
}

.flexRowContent--deals-not-found {
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0;
  max-width: 1170px;
  margin: auto;
  /* border-radius: 6px; */
}

.flexCol--deals-not-found {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexRow--not-found-shelf .flexCol--pdp-selling-and-list-price-container {
  margin-bottom: 8px;
  height: 36px;
}

/* New Component*/
.flexRowContent--pdp-selling-and-list-price-container {
  align-items: flex-start;
  flex-direction: column !important;
}

.flexCol--fixed-prices {
  padding-left: 24px;
}

.flexColChild--flex-dropdown-pdp {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

:global(.vtex-disclosure-layout-1-x-content) :global(.vtex-reviews-and-ratings-1-x-container):last-child {
  display: none !important;
}

:global(.vtex-flex-layout-0-x-flexCol--search-byggy) {
  flex-direction: column-reverse;
}

@media (min-width: 1540px) {
  .flexRow--home-shelf-1 {
    padding: 0;
  }

  .flexRow--deals {
    padding: 16px 0 0;
  }

  .flexRow--banner-home {
    padding: 48px 0 16px;
  }
}

@media only screen and (max-width: 1025px) {
  .flexRow--localization-row::after {
    display: none;
  }

  .flexRow--localization-row {
    padding: 4px 12px;
  }

  .flexRowContent--localization-row {
    display: flex;
  }

  .flexRowContent--newsletter {
    flex-direction: column;
  }

  .flexRowContent--newsletter .stretchChildrenWidth {
    width: 100% !important;
  }

  .flexRowContent--newsletter .stretchChildrenWidth :global(.vtex-rich-text-0-x-container--newsletter) {
    justify-content: center;
  }

  .flexCol--fixed-prices {
    padding: 0;
  }
}

@media (max-width: 1025px) and (min-width: 641px) {
  .flexRow--searchinfomobile-corredor {
    display: none;
  }
}

/*breackpoint of container*/
@media only screen and (max-width: 1600px) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header,
  .flexRowContent--category-menu-header {
    max-width: 1238px;
  }

  .flexRowContent--menu-link,
  .flexRowContent--main-header,
  .flexRowContent--category-menu-header {
    max-width: 1440px;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth:first-child {
    width: 30% !important;
  }
}

@media only screen and (max-width: 1500px) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header,
  .flexRowContent--category-menu-header {
    max-width: 1238px;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth:first-child {
    width: 33% !important;
  }
}

@media only screen and (max-width: 1400px) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header,
  .flexRowContent--category-menu-header {
    max-width: 1238px;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth:first-child {
    width: 35% !important;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth {
    width: 14% !important;
  }

  .flexRowContent--top-bar-row-2 .stretchChildrenWidth {
    width: 18% !important;
  }
}

@media only screen and (max-width: 1285px) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header,
  .flexRowContent--category-menu-header {
    max-width: 1160px;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth:first-child {
    width: 37% !important;
  }

  .flexRowContent--top-bar-row-2 .stretchChildrenWidth {
    width: 20% !important;
  }

  :global(.vtex-minicart-2-x-minicartWrapperContainer) {
    justify-content: center;
  }
}

@media only screen and (max-width: 1233px) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header,
  .flexRowContent--category-menu-header {
    max-width: 1084px;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth:first-child {
    width: 39% !important;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth {
    width: 16% !important;
  }

  .flexRowContent--top-bar-row-2 .stretchChildrenWidth {
    width: 22% !important;
  }
}

@media only screen and (max-width: 1150px) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header,
  .flexRowContent--category-menu-header {
    max-width: 1000px;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth:first-child {
    width: 43% !important;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth {
    width: 18% !important;
  }
}

@media only screen and (max-width: 1067px) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header,
  .flexRowContent--category-menu-header {
    max-width: 820px;
  }

  .flexRowContent--top-bar-row-1 .stretchChildrenWidth:first-child {
    width: 50% !important;
  }

  .flexRowContent--top-bar-row-2 .stretchChildrenWidth {
    width: 26% !important;
  }
}

@media only screen and (max-width: 1025px) {

  .flexRow--menus-footer-container,
  .flexRow--payment-methods,
  .flexRow--payment-methods-flags,
  .flexRow--credits-acct {
    background-color: #142032;
  }
}

/*breackpoint of container end*/
@media only screen and (max-width: 640px) {
  .flexRow--search-info-tablet-corredor {
    display: none;
  }

  .flexRowContent--menu-link {
    display: flex;
    justify-content: flex-end;
  }

  .flexRowContent--main-header-mobile {
    padding: 0 0.5rem;
  }

  .flexCol--product-info-content {
    padding: 40px 0 0;
  }

  .flexColChild--product-info-content .flexRow--buy-btn-container :global(.vtex-button) {
    max-width: 100%;
  }

  .flexColChild--product-info-content .flexRow--buy-btn-container :global(.vtex-button__label),
  .flexRow--add-to-cart-btn-container-shelf :global(.vtex-button__label) {
    padding: 0 !important;
  }

  .flexRow--add-to-cart-btn-container-shelf :global(.vtex-button) {
    font-size: 12px;
    height: 29px;
    display: flex;
    min-height: 29px;
    align-items: center;
    justify-content: center;
  }

  .flexRowContent--product-brand-container {
    display: flex;
    align-items: center;
  }

  .flexRowContent--pdp-wish-and-share-content {
    display: flex;
    justify-content: flex-end;
  }

  /* Ajustes Footer */
  .flexRowContent--payments-flags {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    max-width: 190px;
    margin-right: auto;
  }

  .flexRowContent--midias-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    max-width: 136px;
    margin: 0;
    padding-bottom: 16px;
  }

  .flexRow--midias-footer {
    width: 100%;
  }

  .flexRow--credits-acct {
    max-width: unset;
    justify-content: center;
    min-height: 70px;
  }

  .flexRowContent--credits-acct {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .flexRowContent--payment-methods-flags {
    border-top: 1px solid #f1efed;
  }

  .flexRow--newsletter {
    height: auto;
    padding: 16px 0;
  }

  .flexRowContent--payment-methods {
    padding: 16px 0 20px 0;
  }

  .flexRow--newsletter {
    height: auto;
  }

  .flexRow--quantity-and-buy-btn-container :global(.vtex-button) {
    max-width: 100%;
    width: 100%;
  }

  .flexRow--not-found {
    padding: 38px 0 76px;
  }

  .flexCol--not-found-text {
    padding: 0 0 50px;
  }

  .flexColChild--not-found-text,
  .flexColChild--not-found-image {
    display: flex;
    justify-content: center;
  }

  .flexCol--not-found-image {
    padding: 0 30px;
  }

  .flexRow--banner-row-department {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .flexRowContent--credits-acct {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  /* Ajustes Footer */
  .flexRow--newsletter {
    max-width: 450px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
  }
}

@media (min-width: 1540px) {
  .flexRow--home-shelf-1 {
    padding: 0;
  }

  .flexRow--deals {
    padding: 16px 0 0;
  }

  .flexRow--banner-home {
    padding: 48px 0 16px;
  }
}

@media (max-width: 1279px) {
  .flexRowContent--deals {
    padding: 16px 8px 32px;
  }

  .flexRowContent--category-menu-header {
    padding: 0 0.5rem;
  }
}

@media (max-width: 1024px) {
  .flexCol--deals {
    padding: 0 30px;
    margin: 0;
  }

  .flexRow--wholesale {
    height: 41px;
    margin-top: 0;
    margin-bottom: 6px;
  }

  .flexRowContent--home-shelf-1 {
    flex-wrap: wrap;
  }

  .flexRow--home-shelf-1 .stretchChildrenWidth {
    width: 100% !important;
  }

  .flexRow--banner-home {
    padding-top: 30px;
  }

  .flexRowContent--banner-home {
    margin: 0;
  }

  .flexRow--searchTitleDesktop .stretchChildrenWidth::before {
    padding: 12px 0;
  }
}

@media only screen and (max-width: 320px) {
  .flexRow--payment-methods {
    padding-top: 1rem;
  }
}

@media (min-width: 1026px) {
  :global(.vtex-search-2-x-tileListItem) .flexCol--product-info {
    height: 180px;
    padding-right: 10px;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1441px) {

  .flexRowContent--content-row-department,
  .flexRowContent--did-you-mean-suggestions,
  .flexRowContent--searchTitleDesktop {
    padding: 0;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--flexCol) {
  border-radius: 8px;
  border: 1px solid #e9eaed;
  padding: 1rem 1rem;
  margin: 1rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--flexRow) {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
}

:global(.vtex-flex-layout-0-x-flexRow--menu-row) {
  background-color: #f2f2f2;
  color: black;
}

.flexRowContent--reviews-row {
  display: grid;
  grid-template-columns: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5%;
}

:global(.vtex-reviews-and-ratings-1-x-reviewCommentsContainer) {
  border: 0;
}

.flexRowContent--reviews-row .stretchChildrenWidth:nth-child(2n) {
  display: none;
}

.flexRowContent--reviews-row .stretchChildrenWidth {
  width: 100% !important;
}

:global(.vtex-modal__modal) :global(.vtex-button) {
  background-color: rgb(255, 64, 63);
  border: none;
  border-radius: 0px 3px 3px 0px;
  width: 70%;
}

:global(.vtex-modal__modal) :global(.vtex-button):hover {
  background-color: rgb(255, 94, 94);

}

:global(.vtex-modal__modal) :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0 12px;
  font-size: 13px;
}

:global(.vtex-styleguide-9-x-noAppearance) {
  font-size: 13px;
}

.flexCol--contact-content {
  align-items: center;
  gap: 15px;
}

.flexRow--newsletter-container {
  background-color: #FF3366;
}

.flexCol--category-home {
  background: #f2f2f2;
  align-items: center;
  padding: 20px 60px 0px;
  justify-content: center;
  border-radius: 5px;
}

.flexRow--brand-home-container {
  border: 1px solid #eee;
  border-radius: 4px;
  height: 70px;
  margin: 0 auto;
  max-width: 160px;
  padding: 10px 30px;
  align-items: center;
  display: flex;
}

.flexRowContent--add-to-cart :global(.vtex-button) {
  background-color: #ff3366!important;
  border: none;
}

.container-listLayout .stretchChildrenWidth {
  width: auto!important;
}

.flexCol--infos-listLayout {
 margin-left: 2rem; 
}

.flexCol--image-product {
  width: 155px
}

.flexRowContent--add-to-cart-list {
  width: 16rem;
  border-radius: 4px;
}

.flexRowContent--add-to-cart-list :global(.vtex-button) {
  background-color: #ff3366!important;
  border: none;
} 

.flexColChild--filterCol  {
  height: fit-content!important;
  margin-bottom: 3rem;
}

.flexRowContent--ratings-heart-pdp {
  display: flex;
  align-items: center;
}

.flexRowContent--product-brand-row {
  margin: 1rem 0;
}

.flexCol--pdp-list-price-col{
  align-items: center;
  margin: 10px 0 1rem;
}

.flexCol--flags-shelf-pdp {
  margin-bottom: 10px;
  margin-left: -6px;
}

.flexColChild--confirmationButtonsContainer :global(.vtex-button){
  border: none!important;
  background-color: #FF3366!important;
  border-radius: 4px;
  color: #fff!important;
  text-transform: initial;
} 

.flexColChild--modalReg{
  display: grid;
}