:global(.vtex-login-2-x-label):before {
	content: 'Welcome';
	display: block;
	color: #000;
	font-weight: 600 !important;
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
}

:global(.vtex-login-2-x-container) {
	z-index: 2;
}

:global(.vtex-login-2-x-container) :global(.vtex-button__label):before {
	content: '';
	background-image: url("assets/user.png");
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	padding: 0;
	height: 24px;
	width: 24px;
	margin-top: 0;
}

:global(.vtex-login-2-x-label) {
	white-space: nowrap;
	font-size: 12px;
	font-weight: 400;
	color: #000;
	text-align: left;
	text-transform: none;
	padding-left: 0.6rem;
}

div[class*='vtex-login-2-x-container'] :global(.vtex-button__label) {
	padding: 0 !important;
	margin-left: 18px;
	text-transform: initial;
}

div[class*='vtex-login-2-x-container'] :global(.relative) {
	margin: auto;
}

h3[class*='vtex-login-2-x-formTitle'] {
	text-align: start;
	border-bottom: 1px solid #dddddd;
	border-radius: 0;
	padding-bottom: 20px;
}

div[class*='vtex-login-2-x-accessCodeOptionBtn'] button:global(.vtex-button) div[class*='vtex-button__label'],
div[class*='vtex-login-2-x-emailPasswordOptionBtn'] button:global(.vtex-button) div[class*='vtex-button__label'] {
	padding: 0;
}

div[class*='vtex-login-2-x-accessCodeOptionBtn'] button:global(.vtex-button),
div[class*='vtex-login-2-x-emailPasswordOptionBtn'] button:global(.vtex-button) {
	border: 1px solid #ccc6c0;
	background-color: #ffffff;
	color: #000000;
	text-transform: none;
}

div[class*='vtex-login-2-x-emailPasswordOptionBtn'] button:global(.vtex-button):hover {
	border: 1px solid #ff7f00;
	background-color: #ff7f00;
	color: #ff7f00;
}

div[class*='vtex-login-2-x-options'] {
	min-width: 17rem;
}

div[class*='vtex-login-2-x-arrowUp'] {
	width: 1.5rem;
}

span[class*='vtex-login-2-x-profile'] {
	white-space: nowrap;
	text-transform: initial;
	max-width: 130px;
	text-align: start;
	display: flex;
	font-size: 14px;
	align-items: flex-end;
	font-weight: 400;
	color: #000;
}

span[class*='vtex-login-2-x-profile']::after {
	content: '';
	background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 7L8 11L12 7' stroke='%2300AC5A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat;
	/* display: flex; */
	width: 16px;
	height: 16px;
	margin-right: 12px;
	display: none;
}

@media screen and (min-width: 1025px) {
	.container :global(.vtex-button__label) span div div {
		padding-top: 5px;
		width: 100%;
		display: block;
	}

	.container :global(.vtex-button) {
		padding: 0;
	}

	.container :global(.vtex-button):focus {
		background: transparent;
	}
}

@media only screen and (max-width: 1025px) {
	.container :global(.vtex-button__label) {
		margin: 0 18px 0 0 !important;
	}
}

.formTitle {
	text-align: center !important;
	font-size: 18px;
	font-weight: bold;
}

.accessCodeOptionBtn :global(.vtex-button) {
	border: none !important;
	color: #FF3366 !important;
	font-size: 14px;
}

.emailPasswordOptionBtn :global(.vtex-button) {
	background-color: #FF3366 !important;
	color: white !important;
	font-weight: bold;
	text-transform: uppercase !important;
	border: 1px solid #FF3366 !important;
	font-size: 14px;
}

.contentAlwaysWithOptions {
  min-height: 18.75rem;
  max-width: 25.75rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid; */
  border-color: #e1e1e1;
  border-radius: 10px;
  padding: 0;
  background: #f9f9f9;
	margin: 2rem auto;
}

.button :global(.vtex-button) {
  border: none !important;
  width: 100%;
  min-height: 2.5rem;
  background: #FF3366 !important;
  color: #fff !important;
  font-weight: 400 !important;
}

:global(.vtex-input-prefix__group), :global(.vtex-styleguide-9-x-container) :global(.vtex-dropdown__container) {
  border: none !important;
}

.sendButton {
	width: 100px;
}

.sendButton :global(.vtex-button) {
  background: #FF3366 !important;
  border: none !important;
  height: 40px;
	width: 100%;
}

.formLinkContainer {
  padding-bottom: 18px;
}

.emailAndPasswordForm {
  border-top: 1px solid #e3e4e6;
}

.contentForm {
	margin-bottom: 0.8rem;
}

.inputContainerPassword :global(.vtex-styleguide-9-x-input) {
	border: none;
}

.inputContainerEmail :global(.vtex-styleguide-9-x-input) {
	border: none;
}

.loginOptionsContainer {
	width: 300px;
}

.emailVerification  {
	width: 300px;
}

.contentFormVisible {
	padding: 0;
}

.emailForm .formFooter {
	align-items: center;
}

.emailForm .formFooter :global(.vtex-button__label) {
	padding: 0 5px;
}