.styledLinkContainer--category-menu {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.styledLinkContent--category-menu {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    height: 39px;
    padding: 5px 20px 8px;
    align-items: center;
    transition: 0.2s linear;
}

.styledLinkContent--footer-menu-items {
    font-size: 14px;
}

.styledLinkContent--category-menu:hover {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #af1d44;
}

.styledLinkContainer--footer-menu-items {
    margin-left: 0;
    padding: 4px 0;
    line-height: 1.6;
}

:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(4n) .menuContainerNav--footer-cliente :global(.vtex-rich-text-0-x-paragraph--heading) {
    margin-bottom: 0;
}

.menuItem--category-menu {
    display: flex;
    align-items: end;
}

:global(.vtex-mega-menu-2-x-submenuContainer) {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 8px;
    flex-wrap: wrap;
    display: flex;
    min-height: 100%;
    max-height: 100%;
}

:global(.vtex-mega-menu-2-x-submenuItem) {
    max-width: 230px !important;
    min-width: 230px;
    width: 100%;
    margin-top: 0;
    flex: 1 1 0%;
}

:global(.vtex-mega-menu-2-x-seeAllLinkContainer) {
    margin-top: 0;
    display: none;
}

:global(.vtex-mega-menu-2-x-submenuList) {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: unset;
}

:global(.vtex-mega-menu-2-x-submenuItem) :global(.vtex-mega-menu-2-x-styledLinkContainer) {
    border-bottom: 0;
    max-height: none;
    height: auto;
    padding: 0;
    padding-bottom: 10px;
}

:global(.vtex-mega-menu-2-x-styledLinkText) {
    font-size: 14px;
}

:global(.vtex-mega-menu-2-x-caretIcon) {
    width: 10px;
    height: 10px;
    color: #FF3366;
}

:global(.vtex-mega-menu-2-x-styledLinkContainer) {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

:global(.vtex-mega-menu-2-x-submenuContainerTitle) {
    display: none;
}

:global(.vtex-mega-menu-2-x-styledLink):hover {
    color: #FF3366;
}