.cartIcon {
  width: 27.01px;
  height: 28px;
  color: #ff3366;
}

.openIconContainer {
  padding-top: 0;
  padding-bottom: 0;
}

.minicartQuantityBadgeDefault {
  top: -0.6rem;
  right: -0.7rem;
  background: #000;
}

.closeIconButton {
  color: #fff;
}

.closeIconContainer {
  background: #ff3366;
}
/* 
.closeIconContainer::after {
    content: "Cart";
    width: 100%;
    align-self: center;
    text-align: right;
    padding-right: 3rem;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}  */

.minicartTitle {
  position: absolute;
  top: 0.6em;
  right: 3rem;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 40em) {
  .minicartProductListContainer :global(.vtex-product-list-0-x-quantity) {
    max-width: 100%;
  }
}

.minicartProductListContainer
  :global(.vtex-product-list-0-x-quantitySelectorWrapper) {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
  border-radius: 5px;
}

:global(.vtex-product-list-0-x-price) {
  color: #ff3366;
  font-weight: 700;
}

:global(.vtex-checkout-summary-0-x-price):last-child {
  color: #ff3366;
  font-weight: 700;
}

:global(.vtex-product-list-0-x-quantitySelectorIncrease) {
  color: #000;
}

.minicartCheckoutButton :global(.vtex-button) {
  color: rgb(255, 255, 255);
  border: 0px;
  padding: 4px 14px;
  font-weight: 500;
  min-height: 40px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background: #ff3366;
  height: 50px;
}

:global(.vtex-minicart-2-x-openIconContainer) {
  margin-left: 0 !important;
}
