.savings {
	display: flex;
	align-items: center;
}

.savingsPercentage {
	background: #FEDDE8;
	border-radius: 4px;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.015em;
	color: #ff7f00;
	padding: 0 5px;
    margin-left: 5px;
    margin-top: -5px; 
}

.listPrice {
	color: #727273;
	margin-bottom: 0.25rem;
	font-size: 1rem;
}

.sellingPrice {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #FF3366;
}

.sellingPriceValue {
	font-size: 26px;
	font-weight: 700; 
}

.installments {
	color: #ff7f00;
	margin-bottom: 1rem;
}

.savings {
	font-weight: 500;
	color: #ff7f00;
}

.sellingPrice--summary, .sellingPriceValue--summary {
	font-weight: 400;
	font-size: 1rem!important;
	line-height: 20px;
	color: #FF3366!important;
	margin: 0 0 0.75rem;
}

:global(.vtex-product-summary-2-x-element--listLayout) .sellingPrice--summary {
	margin-top: 0 !important;
	text-align: center;
}

.sellingPriceValue--summary,
.currencyContainer--main-sell-summary {
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #FF3366;
}

.savings--summary {
	background: #FF3366;
	border-radius: 1000px;
	align-items: center;
	display: flex;
}

.savings-discount--summary {
	font-size: 0.875rem;
	font-weight: 600;
	vertical-align: baseline;
	color: #ffffff;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.listPrice--summary {
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
}

.installments--summary {
	margin-bottom: 2rem;
	font-size: 0.875rem;
}

.sellingPrice--main-sell-summary {
	margin-top: 18px;
}

.sellingPrice--main-sell-summary--hasListPrice {
	color: #ff7f00;
	font-size: 15px;
	font-weight: 800;
	margin-top: 0px;
}

.listPrice {
	font-weight: 400 !important;
	font-size: 12px !important;
	line-height: 16px;
	letter-spacing: 0.015em;
	color: #aab0ad !important;
}

.currencyContainer--list-price {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.015em;
	text-decoration-line: line-through;
	color: #aab0ad !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .sellingPriceValue {
	color: #ff7f00;
	font-size: 36px;
	font-weight: 800;
	line-height: 52px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .listPrice--list-price {
	color: #aab0ad;
	font-size: 14px;
	font-weight: 800;
	text-decoration: line-through;
	text-decoration-color: #666360;
	text-decoration-thickness: 2px;
}

:global(.vtex-flex-layout-0-x-flexRow--shelf-pdp-container) .sellingPriceValue {
	color: #ff7f00;
	font-size: 28px;
	font-weight: 800;
}

:global(.vtex-flex-layout-0-x-flexRow--shelf-pdp-container) .listPrice--list-price,
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf) .listPrice--list-price {
	font-size: 15px;
	font-weight: bold;
	color: #aab0ad;
	line-height: 32px;
	text-decoration: line-through;
	text-decoration-color: #666360;
	text-decoration-thickness: 2px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info) .listPrice {
	font-size: 14px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info) .sellingPriceValue {
	font-weight: bold;
	font-size: 16px;
}

:global(.vtex-flex-layout-0-x-flexRow--search-byggy) .currencyContainer--summary {
	font-size: 14px;
	line-height: 20px;
	color: #ff7f00;
}

.sellingPriceValue--main-sell-summary {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #ff7f00;
}

/*tablet*/
@media only screen and (max-width: 1025px) {

	.listPrice,
	.sellingPrice--main-sell-summary {
		font-size: 14px;
	}

	.sellingPriceValue--summary {
		font-size: 19px;
	}
}

/*mobile*/
@media only screen and (max-width: 640px) {
	:global(.vtex-flex-layout-0-x-flexRow--shelf-pdp-container) .sellingPriceValue {
		font-size: 19px;
		line-height: 20px;
	}

	:global(.vtex-flex-layout-0-x-flexRow--shelf-pdp-container) .listPrice--list-price {
		font-size: 12px;
		line-height: 20px;
	}

	.listPrice,
	.sellingPrice--main-sell-summary {
		font-size: 12px;
	}
}