@media (max-width: 1025px) and (min-width: 641px) {
	:global(.vtex-sticky-layout-0-x-wrapper--sticky-mobile) {
		display: none;
	}
}
@media (max-width: 640px) {
	:global(.vtex-sticky-layout-0-x-wrapper--sticky-tablet) {
		display: none;
	}
}

:global(.vtex-mega-menu-2-x-triggerContainer) {
	display: flex;
	align-items: center;
	color: #fff;
	height: 39px;
	transition: 0.2s linear;
}

:global(.vtex-mega-menu-2-x-triggerContainer):hover {
	background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #af1d44;
}

:global(.vtex-mega-menu-2-x-triggerContainer)::before {
    content: 'Departments';
	padding-right: 10px;
    font-weight: 700;
}

:global(.vtex-sticky-layout-0-x-container--sticky-header){
	background-color: #fff;
}
