.container--search-bread {
    max-width: 1238px;
}

.homeIcon {
    display: none;
}

.homeLink::after {
    content: "Home";
    padding-top: 1px;
    font-size: 14px;
    color: #FF3366;
}

.link {
    font-size: 14px;
    text-transform: capitalize;
    padding: 0;
    padding-left: 0.25rem;
    color: #FF3366;
}

.link:hover {
    color: #FF3366;
} 