.title--produtos-visitados {
	font-size: 20px;
	font-weight: 400;
	justify-content: left;
	color: #FF3366;
	padding: 20px 0 15px;
	margin: 0;
}

.relatedProducts--produtos-visitados {
	/* display: grid; */
    /* grid-template-columns: 100%; */
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4% 2.5rem;
}

.slide--produtos-visitados :global(.vtex-product-summary-2-x-element) {
	border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 20px 12px 16px;
	margin: 10px 2rem;
    min-height: 345px;
}

.caretIcon--pdp-related-shelf {
	color: #ff7f00;
	width: 12px;
	height: 12px;
}

:global(.vtex-flex-layout-0-x-flexRow--shelf-pdp-container) .sliderContainer--pdp-related-shelf .arrow {
	background: #ffffff;
	width: 32px;
	height: 32px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	padding: 10px;
}

.sliderContainer--pdp-related-shelf {
	padding: 0 50px;
}

.slide--pdp-related-shelf {
	padding: 24px;
}

@media only screen and (max-width: 640px) {
	.sliderContainer--pdp-related-shelf {
		padding: 0;
	}

	.slide--pdp-related-shelf {
		padding: 0;
	}

	.slide--pdp-related-shelf {
		border-right: 1px solid #f1efed;
	}

	.slide--pdp-related-shelf:nth-child(even) {
		border-right: none;
	}

	:global(.vtex-flex-layout-0-x-flexRow--shelf-pdp-container) .sliderContainer--pdp-related-shelf .arrowLeft--pdp-related-shelf {
		width: 21px;
		padding: 0px;
		top: 37%;
		left: -1%;
		height: 21px;
		justify-content: center;
		align-items: center;
	}

	:global(.vtex-flex-layout-0-x-flexRow--shelf-pdp-container) .sliderContainer--pdp-related-shelf .arrowRight--pdp-related-shelf {
		width: 21px;
		padding: 0px;
		top: 37%;
		right: -1%;
		height: 21px;
		justify-content: center;
		align-items: center;
	}
}