.row--menu-row {
	padding-right: 24px;
}

.row--menu-row .rowContainer {
	align-items: flex-start;
}

.row--payment-methods {
	padding-top: 16px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--midias-footer) { 
	display: flex !important;
	flex-direction: column !important;
}


:global(.vtex-store-footer-2-x-footerLayout){
	background-color: #f2f2f2;
}