.departmentList {
  min-height: 55vh;
  overflow-y: scroll;
}

.itemContainer--department {
  background: white;
  width: 100%;
}

.itemContainer--department:first-child {
  display: none;
}

.itemContainer--category {
  top: 0px !important;
  position: absolute;
}

.firstLevelList {
  margin: 0px;
  padding-left: 0px;
}

.departmentLink {
  padding: 4px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 11px !important;
  text-align: initial;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-direction: row-reverse;
}

.departmentLink:hover {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.departmentLink::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.departmentLink::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px #ff7f00;
  background-color: #000;
}

.submenuItem {
  display: block;
  padding: 3px 0px;
}

.firstLevelLink {
  padding: 5px 9px;
  margin-left: 0px;
  width: 100%;
  display: block;
}

.itemContainer--category {
  top: 0px !important;
  position: absolute;
  border: none !important;
}

.submenuItem .firstLevelLink {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.submenuItem .firstLevelLink:hover {
  color: #000;
}

.section--category {
  position: relative;
  left: 90%;
}

.section--category::before {
  content: "Categorias";
  display: none;
  height: 88px;
  width: 333px;
  background-color: #f5f5f5;
  position: absolute;
  top: -1px;
  left: 0px;
  line-height: 88px;
  text-align: left;
  font-family: "foco", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}

.submenuList {
  position: absolute;
  left: 24px !important;
  display: block;
  padding: 10px 25px;
  max-height: 470px;
  min-height: 55vh;
  overflow-y: scroll;
  width: 323px;
  background: #F5F5F5;
}

.submenuList::-webkit-scrollbar-track,
.departmentList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #d1d1d1;
  border-radius: 10px;
  background-color: #461cff;
}

.submenuList::-webkit-scrollbar,
.departmentList::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.submenuList::-webkit-scrollbar-thumb,
.departmentList::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px #461cff;
}

:global(.vtex-flex-layout-0-x-flexColChild--desktop-todos-departamentos-submenus) .departmentList {
  direction: rtl;
}

:global(.vtex-flex-layout-0-x-flexColChild--desktop-todos-departamentos-submenus) .departmentLink {
  flex-direction: row-reverse;
}

:global(.vtex-flex-layout-0-x-flexColChild--desktop-todos-departamentos-submenus) .submenuList {
  direction: initial;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
}

.secondLevelLink {
  font-family: "Poppins", sans-serif;
}

.secondLevelLink:hover {
  color: #ffffff;
}