.quantitySelectorTitle {
    font-size: 14px;
}

:global(.vtex-numeric-stepper__minus-button), :global(.vtex-numeric-stepper__plus-button) {
    width: 2em !important;
}

:global(.vtex-numeric-stepper__input) {
    width: 3rem;
}