.listContainer--listContainer {
    padding: 0 5%;
    background-color: #FF3366;
    justify-content: flex-start;
}

.listItem--listItem {
    padding-top: 0;
}

.listItem--listItem, .listItem--listItemActive {
    padding-top: 0;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.listItem--listItem :global(.vtex-button), .listItem--listItemActive :global(.vtex-button) {
    height: 32px;
    min-height: auto;
    padding-left: 24px;
    padding-right: 24px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.listItem--listItem :global(.vtex-button__label), .listItem--listItemActive :global(.vtex-button__label){
    padding: 0 !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.listItem :global(.vtex-button) {
    background-color: #af1d44;
    color: #fff;
    transition: 0.2s linear;
}

.listItemActive :global(.vtex-button) {
    background-color: #fff;
    color: #af1d44;
    border-color: transparent;
}