.orderPlacedMainWrapper {
  max-width: 1170px;
}

.orderPlacedWrapper .confirmationIconWrapper :first-child {
  color: #FF3366;
}

.orderPlacedWrapper .confirmationTitle {
  font-weight: 400;
  font-size: 32px;
}

.noticesList {
  background: #ffffff;
  margin-bottom: 16px;
}

.noticesList .noticeListItem {
  padding: 0px 16px 5px;
  border: none;
  margin: auto;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.orderPlacedWrapper .section {
  border: none;
}

.orderNumber {
  color: #FF3366;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.orderDatetime,
.orderSoldBy,
.packageSLA {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.orderSeller {
  color: #FF3366;
}

.updateOrderButton :global(.vtex-button),
.myOrdersButton :global(.vtex-button) {
  background-color: #FF3366;
  border: none;
  border-radius: 4px;
}

.updateOrderButton :global(.vtex-button__label),
.myOrdersButton :global(.vtex-button__label) {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  text-transform: initial;
}

.cancelOrderButton :global(.vtex-button__label) {
  color: #FF3366;
  text-transform: initial;
}

.cancelOrderButton :global(.vtex-button) {
  background-color: transparent;
  border: none;
}

.customerInfoListName,
.paymentGroup,
.packageDeliveryTitle,
.packageAddressTitle {
  color: #3f3f40;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.customerInfoListEmail,
.customerInfoListDocument,
.customerInfoListPhone,
.paymentValue,
.addressContainer {
  font-weight: 500;
  font-size: 12px;
  padding: 5px 0px 0px 0px;
}

.orderPaymentItem {
  padding-bottom: 10px;
}

.packageAddressTitle {
  display: block;
  margin-bottom: -28px;
}

.package--delivery {
  width: 98%;
  flex-wrap: wrap;
  display: flex;
  margin-top: 0px;
}

.productList {
  border: 1px solid #e3e1e1;
  padding: 25px;
  border-radius: 3px;
}

.productInfoColumn {
  height: 45px;
}

.productName {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3f3f40;
}

.productQuantity {
  padding-right: 5%;
  font-weight: 500;
  font-size: 12px;
  color: #3f3f40;
}

.productPrice {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FF3366;
}

.totalListWrapper {
  margin-top: -2.25rem; 
}

.totalList .totalListItem {
  border-bottom: solid 1px rgba(170, 170, 170, 0.2);
  padding-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.totalListItem:last-child {
  font-size: 1rem!important;  
}

 