.container {
    margin-top: 15px;
}

.lowStockText, .lowStockHighlight {
    color: orange;
    text-decoration: underline;
    font-size: 20px;
}

.lowStockHighlight {
    font-weight: bold;
}

.highStockText {
    color: green;
    text-decoration: underline;
    font-size: 20px;
}