.biggy-autocomplete .price_sellingPrice {
	font-size: 14px;
	color: #000000;
	font-weight: 600;
}

.tileListTitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	text-transform: unset;
	padding: 0 0 0 24px;
}

.itemListTitle {
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	padding-left: 24px;
	margin: 0;
	text-transform: unset;
}

.itemListList {
	margin-top: 20px;
}

.itemListLink {
	padding: 0 0 0 24px !important;
	margin: 0;
	height: 40px !important;
	display: flex !important;
	align-items: center;
}

.itemListLink:hover {
	background: #e6fff3;
}

.itemListSubItemLink {
	padding: 0 0 0 24px !important;
}

.itemListLink .itemListPrefix {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FEDDE8;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	padding: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	margin-right: 16px;
}

.itemListLinkTitle {
	font-size: 16px;
	line-height: 24px;
	color: #36403b;
}

.itemListLink:hover .itemListLinkTitle {
	color: #ff7f00;
}

.itemList--suggestion .itemListLink,
.itemList--suggestion .itemListSubItemLink {
	font-size: 16px;
	color: #4d4a48;
	font-weight: normal;
}

.itemListLink:hover,
.itemListSubItemLink:hover {
	color: #ff7f00;
	background-color: #FFE0EF !important;
	font-weight: bold;
	font-size: 14px;
}

.biggy-autocomplete {
	top: 4px;
	border: 1px solid #dadedc;
	box-sizing: border-box;
	box-shadow: 0px 4px 8px rgba(86, 115, 101, 0.15);
	border-radius: 4px;
}

.tileListList {
	padding: 0 24px !important;
}

.tileListItem :global(.vtex-product-summary-2-x-element) {
	border: none;
	padding: 0 5px 0 0;
}

.itemList--top-search::before {
	content: 'Most searched products';
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	text-transform: unset;
	padding-left: 24px;
}

.itemList--top-search .itemListTitle {
	display: none;
}

.didYouMeanPrefix {
	font-size: 0;
}

.didYouMeanPrefix::before {
	content: 'Search suggestions:';
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.015em;
	color: #36403b;
	margin-right: 8px;
}

.didYouMeanTerm {
	padding: 4px 12px;
	background: #FFFFFF;
	border: 1px solid #aae3c8;
	box-sizing: border-box;
	border-radius: 16px;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.015em;
	color: #ff7f00;
	cursor: pointer;
}

.didYouMeanTerm:hover {
	background: #e6fff3;
	border-color: #ff7f00;
}

@media only screen and (max-width: 1285px) {

	.biggy-autocomplete-wrapper,
	.biggy-autocomplete {
		max-width: 582px;
	}
}

@media only screen and (max-width: 1232px) {

	.biggy-autocomplete-wrapper,
	.biggy-autocomplete {
		max-width: 498px;
	}
}

@media only screen and (max-width: 1149px) {

	.biggy-autocomplete-wrapper,
	.biggy-autocomplete {
		max-width: 417px;
	}

	.tileList {
		flex: 1.3;
	}
}

@media only screen and (max-width: 1067px) {

	.biggy-autocomplete-wrapper,
	.biggy-autocomplete {
		max-width: 331px;
	}

	.itemList--top-search .itemListLink:hover,
	.itemList--suggestion .itemListLink:hover,
	.itemList--suggestion .itemListSubItemLink:hover,
	.biggy-autocomplete .price_sellingPrice,
	.itemListLinkTitle,
	.tileListTitle,
	.itemListTitle {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1025px) {
	.productBrand {
		color: #4d4a48;
		font-size: 17px;
		font-weight: bold;
	}

	.currencyContainer {
		color: #ff7f00;
		font-weight: 800;
		font-size: 19px;
	}

	.biggy-autocomplete-wrapper,
	.biggy-autocomplete {
		width: 97vw !important;
		min-width: 97vw !important;
		max-width: unset;
	}

	.listPriceValue .currencyContainer {
		color: #ff7f00;
	}

	.itemList--suggestion .itemListLink,
	.itemList--suggestion .itemListSubItemLink {
		font-size: 16px;
	}
}

@media only screen and (max-width: 640px) {
	.productBrand {
		color: #4d4a48;
		font-size: 12px;
		font-weight: bold;
	}

	.currencyContainer {
		color: #ff7f00;
		font-weight: 800;
		font-size: 17px;
	}

	.biggy-autocomplete-wrapper,
	.biggy-autocomplete {
		min-width: 97.2vw !important;
		max-width: 97.2vw !important;
		width: 97.2vw !important;
	}

	.itemList--suggestion .itemListLink,
	.itemList--suggestion .itemListSubItemLink {
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {

	.biggy-autocomplete-wrapper,
	.biggy-autocomplete {
		width: 95vw !important;
		min-width: 95vw !important;
	}
}

:global(.vtex-search-2-x-tileList):global(.vtex-product-summary-2-x-productBrand) {
	font-size: 14px !important;
	color: #000000;

}

:global(.vtex-search-2-x-tileList):global(.vtex-flex-layout-0-x-flexColChild--product-info):first-child {
	margin-bottom: 0.8rem !important;
}

:global(.vtex-search-2-x-tileList):global(.vtex-flex-layout-0-x-flexColChild--product-info):last-child {
	margin-top: 0.8rem !important;
}

:global(.vtex-product-price-1-x-sellingPrice--summary) {
	color: #ff7f00;
}

:global(.vtex-search-2-x-tileListSeeMore) {
    background-color: transparent;
    color: #FF3366; 
    margin-top: 2rem;
    font-size: 14px;
}

:global(.vtex-search-2-x-tileListFooter),
:global(.vtex-search-2-x-tileListSeeMore) {
	display: flex;
	justify-content: center;
	align-items: center;
}

:global(.vtex-search-2-x-itemList--suggestion):global(.vtex-search-2-x-itemListSubItemLink),
:global(.vtex-search-2-x-itemList--suggestion):global(.vtex-search-2-x-itemListLinkTitle) {
	color: #ff7f00 !important;
}

:global(.vtex-search-2-x-tileListTitle) {
	margin-top: 0;
}

:global(.vtex-search-2-x-itemList--suggestion) {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 20%;
}