.modalTitle {
  font-weight: 500;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'OpenSansBold', sans-serif;
  color: #fff;
  margin-bottom: 5px;
  display: block;
}


.without {
  font-weight: 500;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'OpenSansBold', sans-serif;
  color: #fff;
  display: grid;
}

.barChange{
max-width: 1240px;
place-content: end;
}

.regionalizationIcon {
  margin-right: 10px;
}

.description {
  font-weight: 400;
  font-family: 'OpenSansBold', sans-serif;
  color: #fff;
}

@media (max-width: 1024px) {
  .modalTitle {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .description {
    margin-left: 5px;
  }
}

.tabClassDelivery {
  color: #fff;
  margin-right: 5px;
  font-weight: 900;
  font-size: 13px;
}

.tabClassDeliveryC{
  content: 'Change';
  color: #fff;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
}

.tabClassPickup {
  color: #fff;
  margin-right: 5px;
  font-weight: 900;
  font-size: 13px;
}

.tabClassPickupC{
  color: #fff;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
}

.titleModal {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.navModal {
  /* display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  min-width: 0px;
  margin: 20px 0px;
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  cursor: pointer; */
}

.delivery::before {
  content: '';
  width: 20%;
  height: 38px;
  display: flex;
  background-repeat: no-repeat;
  background-position-y: center;
  font-size: 12px;
}

.pickup::before {
  content: '';
  width: 20%;
  height: 38px;
  display: flex;
  background-repeat: no-repeat;
  background-position-y: center;
  font-size: 12px;
}

.active1 {
  background: #0970e6 !important;
  color: rgb(255, 255, 255) !important;
  font-size: 12px;
}

.active1::before {
  content: '';
  width: 20%;
  height: 38px;
  display: flex;
  background-repeat: no-repeat;
  background-position-y: center;
  font-size: 12px;
}

.active2 {
  background: #0970e6 !important;
  color: rgb(255, 255, 255) !important;
  font-size: 12px;
}

.active2::before {
  content: '';
  width: 20%;
  height: 38px;
  display: flex;
  background-repeat: no-repeat;
  background-position-y: center;
  font-size: 12px;
}

.navModal li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  appearance: none;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: 12px;
  border: 0px;
  border-radius: 4px;
  background: white;
  color: #0970e6;
  font-weight: 700;
}

.containerLayout {
  display: flex;
  width: 50%;
  border: 1px solid #000 !important;
  border-radius: 4px;
}

.containerListPickup {
  padding-left: 0;
}

.pickupList {

}
