.container {
  z-index: 9999999999999;
  display: flex;
  flex-direction: column !important;
  max-height: 740px;
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: overlay;
}

.selectStoreContent {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
}

.selectStoreContent .pickupStore:last-child {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #F44237;
  font-size: 20px;
  line-height: 24px;
}

.title > span {
  line-height: 1.4375rem;
  font-size: 0.75rem;
  border-bottom: 0.0625px solid #F44237;
  color: #848a87;
  font-weight: 400;
  min-width: 95px;
  display: inline-block;
  text-align: center;
  margin: 0 0.5rem;
}

.contentWarning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warningTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  color: #ff863f;
  margin-top: 0;
}

.contentWarning p {
  margin-top: -15px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #5d6561;
  text-align: center;
}

.contentWarning span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #848a87;
  margin-bottom: 10px;
}

.contentWarning button {
  width: 100%;
  color: #fff;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background: #F44237;
  border: 1px solid #F44237;
  box-sizing: border-box;
  border-radius: 4px;
}

.description {
  max-width: 272px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #4d4a48;
}

.containerActions form {
  display: flex;
  flex-direction: column;
}

.containerActionInput {
  display: flex;
  align-items: center;
  padding-right: 8px;
  border: 1px solid #dadedc;
}

.inputCep {
  border: 0;
  height: 40px;
  width: 152px;
  font-size: 16px;
  outline: none;
  color: #4d4a48;
  padding-left: 16px;
  border-radius: 4px;
}

.inputCep::placeholder {
  font-size: 16px;
}

.containerActions button {
  color: #fff;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F44237;
  border: 1px solid #F44237;
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 100px;
  text-transform: none;
  padding: 0;
  min-height: 40px;
}

.warning {
  font-size: 12px;
  color: #c11638;
  line-height: 24px;
  font-weight: 600;
}

.deliveryText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.deliveryText img {
  margin-right: 5px;
}

.deliveryTextInfo :global(.vtex-button) {
  background-color: unset;
  border: none;
  min-height: unset;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #F44237;
  text-transform: none;
  transition: 0.3s;
}

.deliveryTextInfo :global(.vtex-button):hover {
  color: #a81d16;
}

.deliveryTextInfo :global(.vtex-button__label) {
  padding: 0 !important;
}

.containerActions button:hover,
.containerActions button:focus {
  background-color: #a81d16;
  border-color: #a81d16;
  color:#fff
}

.containerNotAttend {
  max-width: 290px;
}

.containerNotAttend button {
  max-width: 240px;
  min-width: 240px;
  background-color: #F44237;
  border-radius: 4px;
  border: 1px solid #F44237;
  color: #fff;
  min-height: 40px;
}

.containerNotAttend .contentTryAgain {
  color: #848a87;
}

.containerNotAttend .contentTitleTryAgain {
  color: #5d6561;
}

.search {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.infoCardsNotAccept {
  margin: 0 auto;
  text-align: center;
}

.infoCardsContainer {
  column-gap: 12px;
  row-gap: 12px;
  justify-content: center;
}

.infoCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.infoCardsContent {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  height: 100%;
  width: 100%;
}

.infoCardsContentTitle img {
  margin-top: -7px;
  margin-right: 12px;
}

.infoCardsContentTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.infoCardsContentTitle h3 {
  margin: 0.5rem 0 0.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #F44237;
  text-transform: none;
}

.infoCardsContentButton {
  margin-top: auto;
}

.infoCardsContentButton button {
  padding: 8px 24px;
  height: 40px;
  width: 100%;
  background: #F44237;
  border: 1px solid #F44237;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  transition: background 0.4s;
  font-family: 'Montserrat', sans-serif;
}

.infoCardsContentButton button:hover {
  background: #005f31;
}

.infoCardsContentDelivery {
  display: flex;
  align-items: center;
  background-color: #febd11;
  justify-content: center;
  text-transform: none;
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1.25rem;
  border-radius: 12.5rem;
}

.infoCardsContentBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background: #F44237;
  border-radius: 12px;
  width: 51px;
  height: 20px;
  padding: 2px 8px;
}

.infoCardsContentPrice {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #F44237;
}

.infoCardsContentDescription {
  display: flex;
  flex-direction: column;
}

.infoCardsContentDescription p {
  font-size: 14px;
  line-height: 20px;
  color: #36403b;
}

.infoCardsContentDescription p span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
}

.infoCardsContentAll {
  display: flex;
  background: #f7faf9;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
}

.infoCardsContentLogo {
  margin-right: 8px;
}

.infoCardsContentLogo img {
  width: 50px;
  height: 24px;
}

.infoCardsContentStore {
  display: flex;
  flex-direction: column;
  color: #F44237;
  line-height: 1rem;
  letter-spacing: 0.015em;
  height: 140px;
  overflow-y: scroll;
}

.infoCardsContentStoreTitle {
  display: flex;
}

.infoCardsContentStoreDescription span {
  font-size: 14px;
  line-height: 20px;
  color: #5d6561;
}

.infoCardsContentStoreTitle span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #F44237;
}

.infoCardsContentStoreLink {
  width: fit-content;
  outline: none;
  margin: 5px 0 0 -5px;
  display: flex;
  border: 0;
  background: #f7faf9;
  color: #00289c;
  text-decoration-line: underline;
  font-size: 14px;
  line-height: 20px;
  align-self: stretch;
  cursor: pointer;
  transition: color 0.4s;
}

.infoCardsContentStoreLink:hover {
  color: #000822;
}

.pickupStoreContent span {
  font-size: 14px;
  line-height: 20px;
  color: #5d6561;
}

.infoCardsContentDescription span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 12px 0;
}

.infoCardsWarning {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #36403b;
  margin: 16px 0 0 12px;
}

.pickupStore {
  border: none;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.pickupStoreInput {
  margin-right: 5px;
}

.pickupStoreContent {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.pickupStoreContentTitle {
  line-height: 1rem;
  color: #F44237;
  margin: 0;
  text-align: left;
}

.pickupStoreContentTitleClicked {
  font-weight: bold;
  text-align: left;
  line-height: 24px;
  color: #F44237;
  margin-top: 0;
}

.pickupStore circle {
  transition: 0.3s;
}

:global(.vtex-styleguide-9-x-scrollBar) {
  padding: 1rem 0rem 1.5rem;
}

.infoCards > :global(.vtex-button) {
  background-color: transparent;
  width: 100%;
  border: 0.125rem solid #dadedc;
  border-radius: 0.5rem;
  transition: 0.3s;
  outline: none;
}

.infoCards.deliveryTypeSelected > :global(.vtex-button) {
  border-color:#f44237;
}

.infoCards > :global(.vtex-button):hover {
  border-color: #f44237;
}

.infoCards > :global(.vtex-button) > :global(.vtex-button__label) {
  padding: 0 !important;
}

.pickupAddressInfo {
  font-size: 0.625rem;
  color: #aaafad;
  letter-spacing: 0.015em;
  font-weight: 400;
}

.simulateShippingContainer .content > :global(.vtex-button) {
  text-transform: none;
  transition: 0.3s;
  font-weight: 700;
}

.simulateShippingContainer .content :global(.vtex-button):disabled {
  background-color: #f2f7f5;
  border-color: #f2f7f5;
  color: #848a87;
}

.deliveryAddress {
  color: #F44237;
  line-height: 1.5rem;
}

.containerChangeStoreInfo {
  max-width: 495px;
  padding: 24px 36px 0;
}

.titleChangeStoreInfo {
  color: #c11638;
  font-size: 18px;
  line-height: 24px;
}

.buttonsChangeStoreInfo :global(.vtex-button) {
  transition: 0.3s;
  width: 100%;
  border-width: 1px;
}

.buttonsChangeStoreInfo :global(.vtex-button__label) {
  text-transform: none;
  padding: 0 !important;
  font-weight: 700;
}

.buttonsChangeStoreInfo :global(.vtex-button):first-child {
  margin-right: 12px;
  background-color: #F44237;
  border-color: #F44237;
}

.buttonsChangeStoreInfo :global(.vtex-button):first-child:hover {
  background-color: #a81d16;
  border-color: #a81d16;
}

.buttonsChangeStoreInfo :global(.vtex-button):last-child {
  background-color: #fff;
  color: #c11638;
  border-color: #c11638;
}

.buttonsChangeStoreInfo :global(.vtex-button):last-child:hover {
  color: #fff;
  background-color: #c11638;
}

.descriptionChangeStoreInfo,
.unavailableListItem {
  color: #5d6561;
  line-height: 24px;
}

.unavailableListItem {
  max-height: 188px;
  overflow-y: auto;
}

.unavailableListItem > div:last-child {
  margin: 0;
}

.minimumCartValue {
  color: #c11638;
  font-size: 12px;
  margin-top: 0;
  text-align: center;
}

@media (max-width: 23rem) {
  .title {
    display: block;
  }
}

@media (max-width: 40rem) {
  .title {
    font-size: 18px;
  }

  .buttonsChangeStoreInfo :global(.vtex-button):first-child {
    margin-bottom: 4px;
    margin-right: 0;
  }
}

@media (min-width: 40rem) {
  .infoCards {
    max-width: 15rem;
  }
}

@media (min-width: 64rem) {
  .unavailableListItem {
    padding-right: 16px;
  }

  .unavailableListItem::-webkit-scrollbar {
    width: 3px;
    border-radius: 20px;
  }

  .unavailableListItem::-webkit-scrollbar-track {
    background: #f2f7f5;
    border-radius: 20px;
  }

  .unavailableListItem::-webkit-scrollbar-thumb {
    background-color: #848a87;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 639px) {
  .infoCardsContentTitle h3,
  .infoCardsContentButton button {
    white-space: nowrap;
  }

  .infoCardsContentDescription p span {
    margin: 0;
  }

  .infoCardsContent {
    padding: 24px 16px;
  }

  .minimumCartValue {
    line-height: 1.5;
    text-align: left;
  }
}
