.styles_modal__gNwvD {
  max-width: 100% !important;
  width: auto !important;
}

.vtex-address-form__receiverName,
.vtex-address-form__city,
.vtex-address-form__state,
.vtex-address-form__postalCode .vtex-input__label {
  display: none;
}

.vtex-input-prefix__group {
  border-radius: 4px;
}

.vtex-address-form__neighborhood input,
.vtex-address-form__street input {
  color: #979899;
  border-color: #dddddd;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.vtex-address-form__street {
  order: 1;
  width: 100%;
  pointer-events: none;
  padding: 0px;
}

.vtex-address-form__neighborhood {
  order: 2;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  pointer-events: none;
}

.vtex-address-form__number-div .vtex-address-form__number-checkbox {
  display: none;
}

.vtex-address-form__number,
.vtex-address-form__number-div {
  order: 3;
  padding-bottom: 10px;
  width: 74px;
}

.vtex-address-form__number-input {
  width: 100%;
}

.vtex-address-form__complement {
  order: 4;
  padding-bottom: 10px;
  width: calc(100% - 82px);
}

.simulateShippingContainer>div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.simulateShippingContainer .vtex-input__label {
  font-size: 12px;
  margin-bottom: 2px;
}


.vtex-address-form__postalCode>div:last-child a {
  color: #00289c;
}

.vtex-address-form__postalCode>div:last-child {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  text-decoration: underline;
  justify-content: center !important;
}

.vtex-address-form__postalCode input:hover,
.vtex-address-form__postalCode input:focus {
  border-color: #cacbcc;
}

.vtex-address-form__postalCode input {
  border: 1px solid #e3e4e6;
  margin-right: 8px;
}

.vtex-address-form__postalCode button {
  line-height: 24px;
  font-size: 16px;
}

.vtex-address-form__postalCode .vtex-input-prefix__group {
  border: none;
}

.simulateShippingContainer .vtex-button {
  border-radius: 4px;
  min-height: unset;
}

.simulateShippingContainer .vtex-button:active {
  box-shadow: 0px 0px 0px 3px rgba(255, 200, 55, 0.6);
}

.simulateShippingContainer .vtex-button__label {
  padding: 8px 16px !important;
}

.simulateShippingContainer .vtex-button__label span {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
}

.vtex-styleguide-9-x-shadowTransition>.vtex-modal__close-icon svg {
  display: none;
}

.vtex-styleguide-9-x-shadowTransition>.vtex-modal__close-icon {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23ADADAD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
  padding: 28px !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 999;
}

.vtex__icon-close {
  color: #36403b;
}

.vtex-address-form__postalCode .vtex-input-prefix__group span {
  display: flex;
}

.vtex-address-form__postalCode .vtex-input-prefix__group span::after {
  display: none;
}

.vtex-address-form__postalCode input {
  max-width: 165px;
  padding: 0;
  margin: 0;
}

.vtex-address-form__postalCode button div {
  padding: 8px 24px !important;
}

.vtex-modal__modal .vtex-modal__close-icon {
  fill: #aaafad;
}

.vtex-modal__modal .styles_closeButton__20ID4 {
  cursor: pointer;
}

.vtex-modal__modal div[class*='min-h-regular min-h-large-ns pl6 pl8-ns'] {
  min-height: unset;
}

.vtex-modal__modal div[class*='fr pointer pr5-ns pt5-ns pr4 pt4'] {
  padding: 5px 15px 0 0;
}

.vtex-modal__modal div[role*='button'] {
  padding: 10px;
}

.vtex__icon-close g {
  fill: #36403b;
}

.vtex-modal__modal div[role*='button']:focus {
  outline-color: #F442371C;
}

.vtex-modal__modal .vtex-styleguide-9-x-scrollBar {
  margin: 0;
  padding-top: 0;
  height: auto;
}

.vtex-modal__modal {
  border-radius: 0.5rem;
}

.mambodelivery-mambodelivery-components-0-x-infoCardsContent {
  padding-right: 24px;
}

.mambodelivery-mambodelivery-components-0-x-infoCardsContent ::-webkit-scrollbar {
  width: 4px;
}

.mambodelivery-mambodelivery-components-0-x-infoCardsContent ::-webkit-scrollbar-track {
  background: #ddd;
}

.mambodelivery-mambodelivery-components-0-x-infoCardsContent ::-webkit-scrollbar-thumb {
  background-color: #f44237;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.vtex-sticky-layout-0-x-container--sticky-mobile> :last-child {
  display: none;
}