.container {
	display: flex;
	flex-direction: column;
}

.lastPrice {
	color: #BF3726;
	font-size: 12px;
	line-height: 32px;
	font-weight: 600;
	text-decoration: line-through;
}

.price {
	font-size: 18px;
	font-weight: 800;
	line-height: 32px;
}

.blockUnitsPrice {
	border-radius: 4px;
	border: 1px solid #edf2f0;
	background-color: #edf2f0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-plus-add-to-cart) .blockUnitsPrice{
  border: 1px solid #fff;
	background-color: #fff;
  width: 158px;
}

.blockUnitsPrice:hover {
	background-color: #F442371C;
	border-color: #F442371C;
}
.blockUnitsPrice:hover .unitPrice {
	color: #C11638;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-plus-add-to-cart) .blockUnitsPrice:hover {
  border-color: #fff;
	background-color: #fff;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-plus-add-to-cart) .blockUnitsPrice:hover .unitPrice{
  color: #006239;
}

.quantityPrice {
	display: flex;
	justify-content: center;
	border: 1px solid #BF3726;
	width: 250px;
	border-radius: 4px;
}

.quantityPriceText {
	font-size: 12px;
	line-height: 16px;
	color: #36403b;
	letter-spacing: 0.015em;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-plus-add-to-cart) .quantityPriceText{
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-plus-add-to-cart) .innerSVGButtonContainer{
  display: none;
}

.unitPrice {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #BF3726;
}
.wholePriceActiveCheckMark {
	width: 36px;
	height: 36px;
	background-color: #fff;
	border-radius: 100%;
	border: 2px solid #C11638;
}
.innerSVG {
	border-radius: 100%;
	border: 2px solid #dadedc;
	background-color: #fff;
	padding: 8px;
}
.innerSVGButtonContainer {
	min-width: 40px;
	min-height: 40px;
}
.blockUnitsPrice:hover .innerSVG {
	display: none;
}
.blockUnitsPrice:hover .innerSVGButtonContainer::after {
	content: '';
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='-8 -8 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 21C10.1046 21 11 20.1046 11 19C11 17.8954 10.1046 17 9 17C7.89543 17 7 17.8954 7 19C7 20.1046 7.89543 21 9 21Z' stroke='%2300AC5A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21Z' stroke='%2300AC5A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 3H5L7 15C7.21572 15.6135 7.62494 16.1402 8.16602 16.501C8.7071 16.8617 9.35075 17.0368 10 17H17C17.6493 17.0368 18.2929 16.8617 18.834 16.501C19.3751 16.1402 19.7843 15.6135 20 15L21 8H5.8' stroke='%2300AC5A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	margin: 0;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 2px solid #C11638;
	background-color: #fff;
}
.containerWholesaleButton:hover .innerSVG {
	border-color: #C11638;
}
.wholesaleValuePerUnits {
	font-size: 12px;
}
.containerWholesalePrice {
	min-width: 168px;
}
.quantityPriceContainer {
	min-height: 58px;
}

@media only screen and (max-width: 640px) {
	.containerWholesalePrice {
		max-width: 100%;
	}
}
@media (min-width: 641px) and (max-width: 1025px) {
	.containerWholesalePrice {
		max-width: 200px;
	}
}
